#image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#gallery_image {
    margin: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 1) 5px 5px 10px;
    border-radius: 4px;
}

