main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#project {
    list-style-type: none;
    box-shadow: black 10px 10px 5px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 15px 20px;
    padding: 10px;
    border-radius: 8px;
    line-height: 30px;
    font-size: 1.15rem;
}

a {
    text-decoration: none;
    color: #f1faee;
}

#projectsOutput ul:hover {
    transform: scale(1.05);
    transition: .3s ease-in-out;
}
